.titleContainerCompetition{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 60px;
    font-weight: 500;
    font-family: "Mazzard", sans-serif;
}
.competitionContainer{
    display: flex;
}
.competitionSection{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.competitionSmallTitle{
    font-size: 12px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    line-height: 55px;
    text-transform: uppercase;
    color: #001343;
    width: 100px;
    background: white;
    box-shadow: 0px 0px 24px -24px #EAEFF6;
}
.competitionContainer{
    width: 100%;
}
.competitionLeft{
    width: 50%;
    padding: 120px 135px;
    background: white;
}
.competitionRight{
    width: 50%;
}
.competitionContent{
    width: 430px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    margin-top: 20px;
}
.competitionItem{
    flex-direction: column;
    display: flex;
    row-gap: 40px;
}
.competitionItem img{
    width: 5px;
}
.competitionText{
    font-family: "Poppins", sans-serif;
}
.competitionButton{
    background: var(--violet);
    width: 257px;
    padding: 7px 10px;
    color: white;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
}
.competitionTextWhite{
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 500;
    font-size: 14px;
}
.competitionRight{
    background: var(--darkBlue);
    padding: 120px 120px;
}
.rightCompetitionItem{
    padding: 20px 15px;
    width: 430px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.rightContentContainer{
    display: flex;
    align-items: start;
    flex-direction: column;
    row-gap: 50px;
}
.rightCompetitionItem img{
    width: 200px;
}
.actionCompetition{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.actionCompetitionMobile{
    display: none;
    flex-direction: column;
    row-gap: 10px;
}
@media screen and (max-width: 1200px) and (min-width: 768px){

}
@media screen and (max-width: 767px) and (min-width: 250px){
    .competitionSmallTitle{
        width: 100%;
        text-align: center;
    }
  .competitionContainer{
      flex-direction: column;
      row-gap: 30px;
  }
    .competitionLeft{
        width: 100%;
        box-shadow: 0px 40px 24px -24px #EAEFF7;
        padding: 0px;
    }
    .competitionRight{
        width: 100%;
        padding: 0px;
    }
    .competitionItem{
        width: 85%;
    }
    .rightCompetitionItem{
        width: 90%;
    }
    .titleContainerCompetition{
        justify-content: center;
        text-align: center;
    }
    .competitionSection{
        margin-top: 100px;
    }
    .actionCompetition{
        display: none;
    }
    .actionCompetitionMobile{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rightContentContainer{
        padding: 30px;
    }
    .competitionContent{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        align-items: center;
        padding: 20px 0px;
        width: 100%;
    }
}
