.futureSection{
    width: 100%;
    position: relative;
}
.futureContent{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.futureInnerContent{
    width: 60%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}
.badgeL{
    width: 100%;
    display: flex;
    height: 363px;
}
.badgeR{
    width: 100%;
    display: flex;
    height: 363px;
    justify-content: flex-end;
}
.leftBadge{
    width: 85%;
    background: var(--darkBlue);
    position: relative;
    height: 363px;
    display: flex;
}
.rightBadge{
    width: 85%;
    background: var(--darkBlue);
    position: relative;
    height: 363px;
}
.elipseFuture{
    width: 440px;
    height: 440px;
    background: var(--violet);
    position: absolute;
    bottom: 0px;
    border-radius: 50%;
    opacity: 30%;
    filter: blur(65px);
}
.elipseFutureRight{
    width: 440px;
    height: 440px;
    background: var(--violet);
    position: absolute;
    right: 0px;
    border-radius: 50%;
    opacity: 30%;
    filter: blur(65px);
}
.futureImg{
    position: relative;
    z-index: 7;
}
.futureInnerItem{
    display: flex;
    width: 80%;
    height: 363px;
    justify-content: center;
    align-items: center;
    padding: 0px 76px;
    column-gap: 76px;
}
.futureInnerItemRight{
    display: flex;
    width: 80%;
    height: 363px;
    justify-content: center;
    align-items: center;
    padding: 0px 76px;
    column-gap: 76px;
    flex-direction: row-reverse;
}
.rightInnerContentFuture{
    display: flex;
    flex-direction: column;
}
.futureTitleContent{
    color: var(--violet);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    width: 80%;
}
.futureInnerText{
    font-family: "Poppins", sans-serif;
    color: white;
}
.elipseFutureSection{
    width: 450px;
    height: 450px;
    background: #30d9d9;
    position: absolute;
    top: 830px;
    right: 79px;
    border-radius: 50%;
    opacity: 30%;
    filter: blur(65px);
}
@media screen and (max-width: 1200px) and (min-width: 768px){
    .elipseFutureSection{
        display: none;
    }
}
@media screen and (max-width: 767px) and (min-width: 250px){
    .futureSection{
        width: 100%;
    }
    .futureContainer{
        width: 100%;
    }
    .elipseFuture{
        display: none;
    }
    .elipseFutureRight{
        display: none;
        padding: 0px;
    }
    .futureInnerContent{
        width: 100%;
        padding: 0px;
    }
    .leftBadge{
        width: 100%;
        height: auto;
    }
    .rightBadge{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .badgeL{
        height: auto;
    }
    .badgeR{
        height: auto;
        justify-content: center;
    }
    .futureInnerItem{
        flex-direction: column;
        height: auto;
        padding: 50px 40px;
    }
    .futureInnerItemRight{
        flex-direction: column;
        height: auto;
        width: 78%;
        align-items: center;
        padding: 0px;
    }
    .rightInnerContentFuture{
        align-items: center;
        row-gap: 15px;
    }
    .futureTitleContent{
        width: 100%;
    }
    .upperTitle{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .elipseFutureSection{
        display: none;
    }
}
