@font-face {
    font-family: 'Mazzard';
    src: url('/public/fonts/mazzard/MazzardH-Black.otf') format('otf');
    /* Add additional font formats if available, such as 'ttf' or 'svg' */
}
*{
    margin:0;
    padding: 0;
    --violet: #6B38FE;
    --darkBlue: #001343;
    --lightBlue: #30d9d9;
}
body{
    background: #f7f9fc;
    position: relative;
    z-index: -3;
}
.stripesContainer{
    display: flex;
    width: 100%;
    position: fixed;
    z-index: -1;
    justify-content: space-around;
}
.stripe{
    height: 100vh;
    width: 1px;
    background: black;
    opacity: 0.08;
}
.title{
    font-family: 'Mazzard', sans-serif;
}
.smallText{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 55px;
    text-transform: uppercase;
    font-size: 15px;
}
.buttonPrimary{
    padding: 16px 20px;
    background: var(--violet);
    color: white;
    width: 163px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
}
