.solutionSection{
    display: flex;
    justify-content: center;
    margin-top: -120px;
}
.solutionContainer{
    width: 75%;
    background: white;
    box-shadow: 0px 40px 24px -24px #EAEFF7;
    padding: 130px 135px;
}
.titleContainerSolution{
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 60px;
    font-weight: 500;
    font-family: "Mazzard", sans-serif;
}

.upperContainerSolution{
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
}
.upperLeftSolution{
    width: 45%;
}
.upperRightSolution{
    width: 45%;
    display: flex;
    justify-content: center;
}
.solutionText{
    font-family: "Poppins", sans-serif;
    margin-top: 74px;
}
.solutionTextLower{
    font-family: "Poppins", sans-serif;
}
.lowerContainerSolution{
    margin-top: 84px;
}
.lowerLeftSolution{
    height: 200px;
    display: flex;
    align-items: center;
}
.lowerLeftImagesSolution{
    display: flex;
    align-items: center;
    column-gap: 25px;
}
.lowerLeftImagesSolution img{
    width: 100%;
}
.lowerContainerSolution{
    display: flex;
    align-items: center;
    justify-content: center;

}

.lowerLeftSolution{
    width: 45%;
    margin-bottom: 175px;
}
.lowerRightSolution{
    width: 45%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.solutionAction{
    margin-top: 124px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}
@media screen and (max-width: 1200px) and (min-width: 768px){
}
@media screen and (max-width: 767px) and (min-width: 250px){
   .solutionSection{
       width: 100%;
   }
    .solutionContainer{
        width: 90%;
        padding: 50px 0px;
    }
    .investText{
        text-align: center;
    }
    .lowerGradientTitle{
        font-size: 35px;
    }
    .titleContainerSolution{
        text-align: center;
        display: flex;
        justify-content: center;
    }
    .upperContainerSolution{
        flex-direction: column-reverse;
        align-items: center;
    }
    .upperRightSolution{
        width: 90%;
        justify-content: center;
        margin-top: 20px;
    }
    .upperLeftSolution{
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .lowerContainerSolution{
        flex-direction: column;
        align-items: center;
    }
    .lowerLeftSolution{
        width: 90%;
        margin-bottom: 50px;
    }
    .leftImgSolution{
        width: 75%;
    }
    .rightImgSolution{
        width: 25%;
    }
    .lowerRightSolution{
        width: 100%;
    }
    .solutionTextLower{
        width: 90%;
    }
    .solutionAction{
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
    .solImg{
        width: 100%;
    }
    .lowerLeftImagesSolution{
        width: 100%;
    }
}
